body {
  background-color: lightskyblue;
  color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background-color: lightgrey;
  border: 2px solid purple;
  border-radius: 8px;
  color: purple;
}